.register-page h2{
  position: absolute;
  top: 20px;
  left: 55px;
}

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80vw;
  height: 100vh;

}

.welcome-text {
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

.subtitle {
  margin-bottom: 25px;
  text-align: center;
  color: #666;
  font-size: 0.95rem;
}

.register-container{
    display: flex;
    background-color: rgb(250, 249, 255);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    height: 600px;
    width: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0;
}

.register-container h3{
    top:10px;
}

.register-form{
    margin-right: 20px;
}

.input-groups input{
  width: 100%;
  padding: 15px;
  border: 2px solid #ebe5e5;
  border-radius: 10px;
  font-size: 1rem;
  background: #fcf8f8;
  transition: all 0.3s ease;
}

.signin{
    background-color: rgb(9, 9, 42);
    color: white;
    padding: 5%;
    width: 120%;
    margin-top: 30px;
    border-radius: 20px;
}

.signup{
  color: blue;
  text-decoration: underline;
  margin-left: 29px;
  cursor: pointer;
}